section#agenda.row
  div.box.col-md-10.col-sm-12.col-md-offset-1
    hr
    h2.intro-text.text-center
      strong Agenda
    hr
    img.img-responsive.img-right(src="img/imagen-pantalla1.png")/
    hr.visible-xs
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    dir.row.text-center
      img.img-responsive.col-md-2.col-md-offset-1(src="http://localhost:3000/img/01MUSICA.png")
      img.img-responsive.col-md-2(src="http://localhost:3000/img/02LETRAS.png")
      img.img-responsive.col-md-2(src="http://localhost:3000/img/03AUDIOVISUALES.png")
      img.img-responsive.col-md-2(src="http://localhost:3000/img/04ESCENICAS.png")
      img.img-responsive.col-md-2(src="http://localhost:3000/img/05VISUALES.png")
    div.row
      include ./carrusel_letras.jade
      include ./carrusel_musica.jade
