section#contacto.row
  div.box.col-md-10.col-sm-12.col-md-offset-1
    hr
    h2.intro-text.text-center información de
      strong contacto
    hr
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    div.row.text-center
      div.col-sm-12.col-md-6
        a.twitter-timeline(href="https://twitter.com/hashtag/SoyBienal" data-widget-id="763624566107275264") Tweets sobre #SoyBienal
      div.col-sm-12.col-md-6
        p FACEBOOK BADGE PLACEHOLDER
    div.row.text-center
      div.col-sm-12.col-md-6
        label Rectorado UNL
        div#map1.map
    
      div.col-sm-12.col-md-6.map-border-left
        label Foro Cultural UNL
        div#map2.map
    hr
    h2.intro-text.text-center Seguinos en nuestras 
      strong Redes Sociales
    hr
    div.row.text-center.social-buttons
      ul.list-inline.social-buttons
          li
            a.musica-theme(href="#")
              i.fa.fa-twitter
          li
            a.letras-theme(href="#")
              i.fa.fa-facebook
          li
            a.audiovisuales-theme(href="#")
              i.fa.fa-google-plus
          li
            a.escenicas-theme(href="#")
              i.fa.fa-youtube
