section#mas-bienal.row
  div.box.col-md-10.col-sm-12.col-md-offset-1
    hr
    h2.intro-text.text-center
      strong + BIENAL
    hr
    img.img-responsive.img-left(src="img/imagen2-pantalla1.png")/
    hr.visible-xs
    
    h4 MUESTRAS
      small instalación 
    strong EntreMundos #[small Rectorado · Patio Oeste]
    p.
      Producción ganadora de la convocatoria de Proyectos de Historieta e Ilustración “Intertexto. Ampliar la mirada” [Trayectoría, edición 2016], organizada y producida por la Secretaría de Cultura UNL. 
      EntreMundos propone un viaje a través de cinco universos con diferentes climas, que se desarrollan dentro de carpas que operan como metáfora del viaje y del mundo representado en una viñeta. En el transcurso del viaje los límites entre lo real y lo ficticio se desdibujan y se descubren temporalidades y espacialidades que conviven. Quien realiza este recorrido es el punto en movimiento, el puente entre mundos que completa y da sentido al viaje.

    ul
      li ilustración: Guillermo Estrubia
      li diseño gráfico y digital: Guillermo Estrubia, Emmanuel Leonhardt
      li diseño escenográfico, diagramación de espacios y recorridos: Nazareth Giraldi, Guillermo Estrubia, Emmanuel Leonhardt, Virginia Agretti
      li proyecciones, gestión de medios digitales: Guillermo Estrubia, Emmanuel Leonhardt
      li redacción y compilación de textos: Virginia Agretti
      li producción, montaje y ensamble: Nazareth Giraldi, Guillermo Estrubia, Emmanuel Leonhardt, Virginia Agretti
    p.
      SENTIR LAS ORILLAS. JUAN L. ORTIZ. 20 POEMAS
      [poemas, letras, fotos, objetos]
      FCJS 
      coorganizado con el Museo Histórico UNL y la FUL

    h4 FERIA
    strong FERIA DISEÑO Y PRODUCCIONES CULTURALES 
    p coorganizado con el Centro de Estudiantes
      br
      FADU UNL 18:00 a 22:00 | Rectorado · Patio Oeste 
                  
    hr

    h4.text-center CONCURSOS
    strong.text-center IDENTIDAD 12° BIENAL DE ARTE JOVEN 
    ul
      li #[strong Ganador del concurso de Diseño de Identidad Visual] María Celeste Teglia
      li #[strong Ganadores del concurso de Identidad Musical] Nicolás Albornoz y Sebastián Valorzi
      li #[strong Ganadores del Hackathon] Pablo Ferreyra, Juan Manuel Cruz, Andrés Brikman
    
    hr
    
    h4.text-center JURADOS
    ul
      li #[strong AUDIOVISUALES] Agostina Almirón, Nadia Curzon, Brian De Simone, Gastón Martín, Aldana Mestre, Claudia Ruiz
      li #[strong ESCÉNICAS] Claudia Correa, Vanina Monasterolo
      li #[strong LETRAS] Daniela Fumis, Analía Giordanino, Melina Gustcher, Daniela Molinero, Jimena Morais, Lucas Mercado, Cecilia Moscovich, Gabriela Sierra, Celeste Treghnani
      li #[strong MÚSICA] Diego Arenales, Franco Bongioanni, Cristian Deicas, José Giuranacci, Nicolás Loza, Maximiliano Maglianese, María Carolina Maldonado, Eliana Medina, Pablo Savat
      li #[strong VISUALES] Evangelina Andreose, Matías Bonfiglio, Lisandro Estherren, Aimé Luna, Agustina Mai Favali, Nilda Marsili, Glenda Morahan, Nicolás Sara, Rafael Villalba
