nav.navbar.navbar-fixed-bottom
  div.container
    a.btn.btn-lg.btn-danger.navbar-btn.navbar-right(href="http://localhost:3000/salir",style="margin-right: 0.5em;") Salir 
      i.fa.fa-sign-out.fa-lg
