script(src="/socket.io/socket.io.js")
script(src="./lib/angular/angular.min.js")
script(src="./lib/Chart.js/dist/Chart.min.js")
script(src="./lib/angular-chart.js/dist/angular-chart.min.js")
script(src="./js/controllers/VotacionController.js")
script(src="./js/services/votacionService.js")
