section#agenda.row
  div.box.col-md-10.col-sm-12.col-md-offset-1
    hr
    h2.intro-text.text-center
      strong Agenda
    hr
    img.img-responsive.img-right(src="./img/01_VIRTMIA_foto.png")/
    hr.visible-xs
    br
    h4 VIRTMIA  
      small  de Proyecto Emigrante, dramaturgia y dirección: Nicolás Frontuto
    hr.tagline-divider
    div.row.text-justify
      p.col-md-6.col-xs-12.
        Víctor, un alquimista marginal, desarrolla su fantástica dimensión virtual sobre la base de una máquina.
        #[br]Para lograr esta dimensión, el personaje utiliza sustancias líquidas y sólidas, energía sonora a través de impulsos y frecuencias junto con proyecciones de luz e imagen.
        #[br]Estos elementos convergen en la maquinaria instalada en su vieja habitación para dar vida a su intenso universo: Un nuevo ecosistema virtual.
      p.col-md-6.col-xs-12.
        No todo saldrá como estaba previsto. Si la máquina falla ¿Qué sucederá?
        #[br]El espectáculo narrado en clave de multilenguaje: música en vivo, teatro en altura, video mapping e instalaciones.
        #[br]El objetivo es lograr entrar junto con el espectador a este deseado concepto de teatralidad tecnológica.

    strong FICHA TÉCNICA 
    ul.list-unstyled
      li #[strong en escena:] Ignacio Brasesco (Víctor), Lucila Gunno (asistente), Esteban Mannarino (operario), Nicolás Frontuto (operario) y Paola Ibañez (operaria).
      li #[strong dirección, diseño y operación de video instalación (mapping):] Ceibo Bloom
      li #[strong dirección, diseño de arquitectura e instalación:] Adrián Escandell
      li #[strong dirección, composición y ejecución musical:] Nicolás Frontuto, Esteban Mannarino
      li #[strong teatro en altura:] Lucila Gunno
      li #[strong teatro:] Ignacio Brasesco
      li #[strong ingeniería, diseño sonoro y operación:] Fabian Molinengo
      li #[strong diseño y operación de iluminación:] Franco Bertoldi
      li #[strong producción de escenario:] Oscar Heit, Ariel Eier Pic 
      li #[strong diseño de fotografía:] Paula Arcucci, Luciana Ferreyra
      li #[strong maquillaje y fx:] Paula Arcucci, Mariana Gerosa
      li #[strong vestuario:] Sofía Rosselli
      li #[strong animación:] Claudia Ruiz
      li #[strong postproducción animación:] Marcos Martínez
      li #[strong edición animación:] Nicolás Frontuto
      li #[strong producción comercial:] Hann Pared
      li #[strong puesta escénica, dramaturgia y producción general:] Proyecto Emigrante
      li #[strong dirección general:] Nicolás Frontuto
    
    hr
    img.img-responsive.img-left(src="./img/02_CIELORAZZO_foto.png")/
    hr.visible-xs
    br
    h4 CIELO RAZZO
    hr.tagline-divider
    p La banda rosarina será la encargada del show de apertura. En esta oportunidad CIELO RAZZO presentará el disco Tierra Nueva, además de hacer un repaso por sus 23 años de trayectoria.
    ul.list-unstyled
      li Pablo Pino: voz
      li Diego Almirón: guitarra y coros
      li Fernando Aime: guitarra
      li Cristian Narváez: bajo
      li Javier Robledo: batería y Coros
      li Marcelo Vizzarri: teclados
      li Carlo Seminara: percusión
    
    hr
    img.img-responsive.img-right(src="./img/03_PARTEPLANETA_foto.png")/
    hr.visible-xs
    br
    h4 PARTEPLANETA 
      small Homenaje al Rock Santafesino
    hr.tagline-divider
    p PARTEPLANETA, banda ganadora de la Bienal de Arte Joven 2010, referente del rock en nuestra ciudad y ya establecida en la escena del nuevo rock nacional, rinde su homenaje a los clásicos contemporáneos del rock santafesino con un repertorio que pasará por las obras más reconocidas de bandas legendarias y tan vigentes como Carneviva, La Cruda, Cabezones, Pobre Vaca, Sig Ragga, Butumbaba, entre otros.
    div.row
      div.col-md-6.col-xs-12
        ul.list-unstyled
          li Luciano Farelli: guitarra y voz
          br
          li Fernando Romero Bucca: bajo y coros
          br
          li Manuel Cena: batería y coros
          br
          li Lucas Delacroix: guitarra y coros
      div.col-md-6.col-xs-12
        ul.list-unstyled
          li músicos invitados:
          li Cristian “El Muñe” Cargnello [Butumbaba]
          li Cesar Andino [Cabezones]
          li Rodrigo González [La cruda]
          li Gustavo Angelini [Carneviva]
          li Gustavo Cortes [Sig Ragga]
          li Camilo Hormaeche [Pobre vaca]
          li Agustín “Flaco” Ferrero y Cristian “Matungo” Deicas [Astro Bonzo]
    
    hr
    
    dir.row.text-center
      a(href="#")
        img#av-carrouseler.img-responsive.col-md-2.col-md-offset-1(src="./img/slide-1.png")
      a(href="#")
        img#e-carrouseler.img-responsive.col-md-2(src="./img/slide-2.png")
      a(href="#")
        img#l-carrouseler.img-responsive.col-md-2(src="./img/slide-3.png")
      a(href="#")
        img#m-carrouseler.img-responsive.col-md-2(src="./img/slide-4.png")
      a(href="#")
        img#v-carrouseler.img-responsive.col-md-2(src="./img/slide-5.png")
    div.row
      include ./includes/carrusel_audiovisuales.jade
      include ./includes/carrusel_escenicas.jade
      include ./includes/carrusel_letras.jade
      include ./includes/carrusel_musica.jade
      include ./includes/carrusel_visuales.jade
