section#informacion.row
  div.box.col-md-10.col-sm-12.col-md-offset-1
    hr
    h2.intro-text.text-center
      strong Información
    hr
    h4 STAFF
    hr.visible-xs
    br
    blockquote.row
      div.col-xs-12.col-md-6
        ul.list-unstyled
          li #[strong COORDINACIÓN GENERAL]
          li José Moreyra
          br
          li #[strong PRODUCCIÓN EJECUTIVA ]
          li Sol Abásolo, Eugenia Albanese, Analía Batistela, Marilyn García, José Moreyra, Facundo Nuñez
          br
          li #[strong COORDINACIÓN FUL]
          li Pamela Weiss 
          br
          li #[strong AUDIOVISUALES]
          li Coordinación: Paula Rodríguez
          li Asistencia: Joaquín Maciel
          br
          li #[strong ESCÉNICAS]
          li Coordinación: Analía Batistela, Marilyn García, Eugenia Albanese
          br
          li #[strong LETRAS]
          li Coordinación: Santiago Venturini
          li Asistencia: Elisabeth Navarrete
          br
          li #[strong MÚSICA] 
          li Coordinación: Florencia Russo, Ariel Theuler, Juan Curto 
          li Asistencia: Matías Sebastián Tell
          br
          li #[strong VISUALES]
          li Coordinación: Vanina Gutiérrez, Sebastián Mercau
          li Asistencia: Guillermo Andrés Brikman
          br
          li #[strong PRODUCCIÓN FERIA DE DISEÑO]
          li Agostina Allasia 
          br
          li #[strong DISEÑO]
          li Paula Bergesio, Gustavo Driussi, Georgina Rodríguez
      div.col-xs-12.col-md-6
        ul.list-unstyled
          li #[strong PRENSA]
          li Magdalena Busaniche, Ivana Carino, Fabián Fortunatti, Mili López 
          br
          li #[strong COORDINACIÓN TÉCNICA RECTORADO]
          li Ariel Theuler
          br
          li #[strong COORDINACIÓN TÉCNICA FORO CULTURAL]
          li Emiliano Hynes, Francisco Torres
          br
          li #[strong MONTAJE Y CURADURÍA VISUALES]
          li Alfonso “Ponchi” Insaurralde
          br
          li #[strong AGRADECIMIENTOS]
          br
          li Autoridades y personal de la FCJS
          br 
          li Autoridades y personal de la Dirección de Obras y Servicios Centralizados  
          br
          li Autoridades y personal de la FADU 
          br
          li Autoridades y personal de la FHUC - ISM
          br
          li Autoridades y personal de la FICH
          br
          li Expresiva
          br
          li Ministerio de Cultura de la Nación 
          br
          li Estudiantes que colaboraron voluntariamente en la organización
          br
          li En especial a todo el personal del Foro Cultural UNL.
          br
          li #[strong Agradecimiento especial]
          li Diputado Nacional Hugo Marcucci 
