div.col-md-10.col-sm-12.col-md-offset-1.text-center
  div#carousel-escenicas.carousel.slide
    ol.carousel-indicators
      each val in [0,1,2,3,4,5]
        case val
          when 0
            li.active(data-target="#carousel-escenicas" data-slide-to="#{val}")
          default
            li(data-target="#carousel-escenicas" data-slide-to="#{val}")

    div.carousel-inner
      each val in [1,2,3,4,5,6]
        case val
          when 1
            div.item.active
              img.img-responsive.img-full(src="img/programa/escenicas/#{val}.png")/
          default
            div.item
              img.img-responsive.img-full(src="img/programa/escenicas/#{val}.png")/

    a.left.carousel-control(href="#carousel-escenicas" data-slide="prev")
      span.icon-prev
    a.right.carousel-control(href="#carousel-escenicas" data-slide="next")
      span.icon-next
