doctype html
html
  head
    include ./includes/estilos.jade
    title Carga de artistas
  body(ng-app="remoto", ng-controller="ArtistasController")
    include ./includes/cabecera.jade
    div.container.box
      div#divs-de-alerta
        div.alert.alert-info(role="alert") Estas agregando artistas
      div.col-xs-offset-3.col-xs-6
        form(method="post", action="")
          div.form-group
            label Nombre:
            input.form-control(type="text", name="nombre", ng-model="nombre")
            label Apellido:
            input.form-control(type="text", name="apellido", ng-model="apellido")
            label Pseudónimo:
            input.form-control(type="text", name="pseudonimo", ng-model="pseudonimo")
            label Email:
            input.form-control(type="text", name="email", ng-model="email")
            label DNI:
            input.form-control(type="text", name="dni", ng-model="dni")
            hr
            button.btn.btn-info(type="button", name="guardar", ng-click="sendData()") Guardar 
              i.fa.fa-pencil-square-o.fa-lg
    include ./includes/sign_out.jade
    script(src="./js/bootstrap-bundle.js")
    script(src="./js/angular.min.js")
    script(src="./js/crud-bundle.js")
