doctype html
html
  head
    include ./includes/estilos.jade
    title Carga de obras
  body(ng-app="obras", ng-controller="ObrasController")
    include ./includes/cabecera.jade
    div.container.box

      div.alert.alert-info(role="alert") Estas agregando obras

      div.col-xs-offset-3.col-xs-6
        form(method="post", action="/signup")
          div.form-group
            label Título:
            input.form-control(type="text", ng-model="titulo")
            label Técnica:
            input.form-control(type="text", ng-model="tecnica")
            label Autor:
            select.form-control(ng-model="autor")
              option(value="") Seleccione un autor
              option(ng-repeat="a in autores", value="{{a.id}}") {{a.nombre}}
            label Campo:
            select.form-control(ng-model="categoria")
              option(value="") Seleccione un campo
              option(value="audiovisuales") Audiovisuales
              option(value="visuales") Visuales
              option(value="musica") Música
              option(value="escenicas") Escénicas
              option(value="letras") Letras
            label Categoría:
            input.form-control(type="radio", value="A", ng-model="clase") A -
            input.form-control(type="radio", value="B", ng-model="clase") B
            hr
            button.btn.btn-info(type="submit", name="guardar") Guardar
              i.fa.fa-pencil-square-o.fa-lg
    include ./includes/sign_out.jade
