doctype html
html
  head
    include ./includes/estilos.jade
    title Carga de obras
  body(ng-app="remoto", ng-controller="ObrasController")
    include ./includes/cabecera.jade
    div.container.box
      div#divs-de-alerta
        div.alert.alert-info(role="alert") Estas agregando obras
      div.col-xs-offset-3.col-xs-6
        form(method="post")
          div.form-group
            label Título:
            input.form-control(type="text", ng-model="titulo")
            label Técnica:
            input.form-control(type="text", ng-model="tecnica")
            label Autor:
            select.form-control(ng-model="autor")
              option(value="") Seleccione un autor
              option(ng-repeat="a in autores", value="{{a._id}}") {{a.pseudonimo !== "" ? a.pseudonimo : a.apellido+", "+a.nombre}}
            label Campo:
            select.form-control(ng-model="categoria")
              option(value="") Seleccione un campo
              option(value="audiovisuales") Audiovisuales
              option(value="visuales") Visuales
              option(value="musica") Música
              option(value="escenicas") Escénicas
              option(value="letras") Letras
            label Categoría:
            select.form-control(ng-model="clase")
              option(value="") Seleccione una categoría
              option(value="A") A
              option(value="B") B
            hr
            button.btn.btn-info(type="button", name="guardar", ng-click="sendData()") Guardar
              i.fa.fa-pencil-square-o.fa-lg
    include ./includes/sign_out.jade
    script(src="./js/bootstrap-bundle.js")
    script(src="./lib/angular/angular.min.js")
    script(src="./js/crud-bundle.js")
