doctype html
html
  head
    include ./includes/estilos.jade
    title= title
  body
    include ./includes/cabecera.jade
    div.container.box
    
      each val, index in messages
        div.alert.alert-danger(role="alert")= val
      div.col-xs-offset-3.col-xs-6  
        form(method="post", action="/ingreso")
          div.form-group
            label Username:
            input.form-control(type="text", name="username")
            label Password:
            input.form-control(type="password", name="password")
            hr
            button.btn.btn-info(type="submit", name="Sign in") Ingresar 
              i.fa.fa-sign-in.fa-lg
